body {
    background-image: url(/img/logos/nyr_colors.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.author_info {
    font-size: 100%;
    color: black;
    font-style: normal;
    padding: 5%;
}

hr {
    height: 4px;
}

.article {
    margin-bottom: 5%;
    border: 2px darkslategray;
    padding: 5%;
}

.msg_img_container {
    flex-direction: row;
}

.msg_img_container img {
    margin-left: 5%;
    width: 40%;
    height: auto;
}