body {
    background-image: url('../img/nyr_logo_1.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.other_info {
    font-size: 200%;
    color: white;
    font-style: normal;
}