body {
    background-image: url(../img/logos/nyr_colors.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.header {
    font-size: 200%;
    color: black;
    font-style: italic;
}

hr {
    height: 2px;
}

footer {
    background-color: darkslategray;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: fixed;
    color: white;
}

.article_container {
    margin-top: 5%;
}

.article {
    border-top: solid;
    margin-bottom: 5%;
    border-bottom: solid;
}

.article img {

}

.article p {

}