body {
    background-image: url(../img/logos/nyr_colors.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.title {
    font-size: 400%;
    color: white;
    font-style: italic;
}

